/core/api/target/
/core/framework/target/
/kim/kim-api/target/
/ksb/api/target/
/kew/api/target/
/location/api/target/
/krad/krad-app-framework/target/
/core-service/api/target/
/core-service/framework/target/
/kew/framework/target/
/kim/kim-framework/target/
/krad/krad-web-framework/target/
/kns/target/
/core/impl/target/
/core/web/target/
/core-service/impl/target/
/core-service/web/target/
/kim/kim-impl/target/
/location/framework/target/
/location/impl/target/
/location/web/target/
/edl/framework/target/
/ken/api/target/
/kew/impl/target/
/ksb/client-impl/target/
/ksb/server-impl/target/
/krms/api/target/
/impl/target/
/kim/kim-ldap/target/
/web/target/
/development-tools/target/
/sampleapp/target/
/serviceregistry/target/
/standalone/target/
/client-contrib/target/